html {
    font-size: 18px;
}

body {
    overflow: hidden; /* Needed this bc on transition of github image in footer, scrollbar appeared for some reason */
    margin: 0;
    height: 100vh;
    color: var(--accentLT);

    --main: #2f2fa2;
    --main2: #242582;
    --accent: #553d67;
    --accentLT: #f64c72;

    background: linear-gradient(to right bottom, var(--main), var(--accent));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head p {
    width: 350px;
    text-align: center;
}

/* Content section of doc */
.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.51);
    border: 3px solid var(--accentLT);
}

.menu label {
    margin-left: 10px;
    margin-right: 10px;
}

.scoreboard {
    width: 30vh;
    height: 25vh;
    position: absolute; /* Position relative to game-container */
    top: 0; /* Line top up with game-container */
    left: calc(-30vh + -20px); /* Place 20px to left of container */
    border: 2px solid red;
}

.scoreboard .heading {
    text-align: center;
}

/* Game Board */
.game-container {
    width: 50vh;
    height: 50vh;
    position: relative;

    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    background-color: var(--accent);
}

.space {
    background-color: #fff;
    margin: 1px;
    font-size: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* New Game Button */
.play {
    width: 7.5rem;
    height: 2.3rem;
    font-size: 1rem;

    background-color: var(--main);
    color: var(--accentLT);

    border-radius: 20px;
    border: 2px solid var(--accentLT);
}

.play:hover {
    border-color: var(--main);
    background-color: var(--accentLT);
    color: var(--main);
}

.player-names {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
}

.player-names input {
    appearance: none;
    background-color: #ffffff00;
    border: none;
    color: var(--accentLT);
    font-size: 1rem;

    width: 15ch;
    height: 1.5rem;
}

.player-names input::placeholder {
    color: var(--accentLT);
}

.player-names img {
    width: 1rem;
}

footer {
    width: 100%;
    height: 2rem;
    font-size: 1rem;

    border-top: 2px solid var(--accentLT);
    background-color: rgba(0, 0, 0, 0.51);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 1.3rem;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;

    transform: rotate(-1turn);
    transition: .5s;
}

footer img:hover {
    transform: rotate(1turn) scale(1.2);
    transition: .5s;
}